In [1]:
filepath = 'DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [3]:
incomedf = readCSVdata(filepath)

In [17]:
def colindex(df,c):
    for i in range(len(df.columns)):
        if df.columns[i]==str(c):
            index=i
    return index

def rowindex(df,r):
    k=list(df['State'].values).index(r)
    return k
#rowindex(incomedf,'Arizona')

2

In [11]:
#Average Income of all states from 2005 to 2013
incomedf = readCSVdata(filepath)

def AverageIncome(df):
    s=0
    l=0
    for i in incomedf.values:
        s+=sum(i[colindex(df,2005):colindex(df,2013)+1])
        l+=len(i[colindex(df,2005):colindex(df,2013)+1])
    return(s/l)
AverageIncome(incomedf)

48876.044444444444

In [13]:
#State with highest average income in the last three years
def heighAverageIncome(df):
    m=s=l=index=0
    for i in incomedf.values:
        s+=sum(i[-3:])
        l+=len(i[-3:])
        r=s/l
        if r>m:
            m=r
            index+=1
    return incomedf.values[index-1][1]
heighAverageIncome(incomedf)

'Alaska'

In [14]:
#State with lowest average income from 2007 to 2010(inclusive)
def lowestAverageIncome(df):
    index=0
    m=incomedf.values[0][4]
    for i in incomedf.values:
        s=sum(i[colindex(df,2007):colindex(df,2010)+1])/len(i[colindex(df,2007):colindex(df,2010)+1])
        if s<m:
            m=s
            index+=1
    return incomedf.values[index-1][1]
lowestAverageIncome(incomedf)

'Alaska'

In [19]:
#Print the list of all states in the same line with average income less than California

def income(df):
    s=colindex(df,2005)
    e=colindex(df,2013)+1
    california=sum(df.values[rowindex(df,'California')][s:e])/len(df.values[rowindex(df,'California')][s:e])
    for i in df.values:
        su=sum(i[s:e])/len(i[s:e])
        if su<california:
            print(i[1],end=" ")
    return 
income(incomedf)

Alabama Arizona Arkansas

In [20]:
# Print the names of states based on descending order of income in the year 2009

def States(df):
    r=colindex(df,2009)
    l=sorted([i[r] for i in incomedf.values],reverse=True)
    for i in l:
        for j in df.values:
            if j[r]==i:
                print(j[1],end=" ")
    return 
States(incomedf)

Alaska California Arizona Alabama Arkansas

In [56]:
#State with the lowest recorded income from 2005 to 2013
m=incomedf.loc[:,'2005':'2013'].values[0][0]
index=0
for i in incomedf.loc[:,'2005':'2013'].values:
    k=min(i)
    if k<m:
        m=k
for i in incomedf.values:
    
print(m)

36538

In [39]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [12]:
l=[1,2,3,4,5,6,7,8]
l[-3:]

[6, 7, 8]

'GEOID'