In [1]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3] -> (1,2),(1,3),(2,3) -> 3C2 -> 3!/((3-2)!*2!)

# [1,2,3,4] -> 1,2  1,3  1,4  2,3  2,4  3,4
# [1,2,3,4] -> 1,2,3  1,2,4  1,3,4  2,3,4
def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            print(li[i],li[j])
    return

li = [1,2,3,4]
combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [6]:
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1, len(li)-1):
            for k in range(j+1, len(li)):
                print(li[i], li[j], li[k])
    return
li = [1,2,3,4,5]
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [5]:
import itertools
li = [1,2,3,4]
print(list(itertools.combinations(li,2)))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [7]:
# [1,2,3] -> [1,2,3]

def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
    cli = li[:]
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(int(li[i])-int(li[j]))
            if d not in li and d not in newelements:
                newelements.append(str(d))
    li.extend(newelements)
    return [cli, li]

li = [3,6,24]
max(li)-2+1

23

## Set - Data Structure in Python
- Represented by '{}'

In [8]:
a = {10,1,2,3,4,5,6, 6}

a.add(7) # Adding a single element to a Set

#for i in a:
   # print(i,end=' ') -> Accessing elements in a Set
    
b = {7,8,9,1,2,3}
li = [11,12,13,1]

a.update(b,li) # Adding Multiple elements

a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [16]:
a = set()
li = [11,12,13,1,2,1,3,2,4,5,4,5]
a.update(li)
a

{1, 2, 3, 4, 5, 11, 12, 13}

In [19]:
a.discard(13)

list(a)

[1, 2, 3, 4, 5, 11, 12]

In [20]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}

a.union(b)

# A U B = B U A

b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
c = {111,123}
a.intersection(b)

{1, 2, 3}

In [24]:
a.isdisjoint(c)

True

In [25]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
c = {111,123}
a - b # All elements of a which are not in b
b - a

{7, 8, 9}

In [30]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
print(a.union(b))
print(a.intersection(b))
a ^ b # Elements either in a or in b   (aUb)-(a intersection b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}

{4, 5, 6, 7, 8, 9, 10}

#### Procedural : C

#### Object Oriented : Java, Python

#### Scripting : PHP, Python, Javascript, Shell, Perl

#### Functional : Python, Haskell, Scala

#### Logic : Prolog, Lisp

## List Comprehensions

In [31]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
# Apply list comprehension to store the 
#cubes on n natural numbers

li = [i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [33]:
# Function to calculate the factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

# Apply list comprehension to calculate
# factorial of n natural numbers

n = 10
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [36]:
from math import factorial
l=[factorial(i) for i in range(int(input())+1)]
l

5

[1, 1, 2, 6, 24, 120]

In [38]:
# Store cumulative sum of numbers till n in a list
# n = 5 -> [1, 3, 6, 10, 15]
n = 6
cumulativeSum = [sum(range(1,i+1)) for i in range(1,n+1)]
cumulativeSum

[1, 3, 6, 10, 15, 21]

In [39]:
# List Comprehension to store 
#only leap years in a given time period
leapYears = [i for i in range(int(input()),int(input())+1) if i % 400 == 0 or (i % 100 != 0 and i % 4 == 0)]
leapYears

1970
2019

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [40]:
li = [1,2,3,2,1, 4, 4, 5,5,5]
li.sort()
u2 = []
unique = []
#unique = [li[i] for i in range(0,len(li)-1) if (li[i] != li[i+1] and i < len(li)-1) or (i == len(li)-1)]
[u2.append(i) for i in li if i not in u2 ]
u2

[1, 2, 3, 4, 5]

In [45]:
l= [1,2,3,2,1, 4, 4, 5,5,5]
l=[list(dict.fromkeys(l).keys())]
print(*l)

[1, 2, 3, 4, 5]

## Iterators
Iterable - Strings, Lists, Tuples, Sets, Dictionaries

Convert Iterable to Iterator -> iter()

For Loop:

Iterator:

In [46]:
it = iter('Python')

print('1: ')
print(next(it))
print('\n')
print('2: ')
print(next(it))

1:
P


2:
y

## Generators
Generator is Function

In [50]:
def gen():
    n = 2
    while True:
        n **= 3
        yield n

a = gen()
#
for i in range(5):
    print(next(a))
    
next(a)

512