In [2]:
#Lists

l=[123,987,654]
l  # Access entire list
l[1] # Access index 1 element in a list

987

In [4]:
# String SLicing
l[0:2]
l

[123, 987, 654]

In [6]:
# Reverse list
l[::-1]

[654, 987, 123]

In [8]:
# access odd index elements in a list
l[::2]

[123, 654]

In [9]:
# access even index elements in list
l[1::2]

[987]

In [11]:
# list can be accesed, manipulated in two different types
        # Direct reference - [index]
        # Direct reference - through function
l.append(243) # adding an element to end of the list
l

[123, 987, 654, 243, 243]

In [13]:
l.insert(1,445) # Adding an element in a given index
l

[123, 445, 445, 987, 654, 243, 243]

In [14]:
l.pop() #it remove last element and display that element

243

In [17]:
l2=[1,2,3,4]
l.extend(l2) # Concate two lists
l

[123, 445, 445, 987, 654, 243, 1, 2, 3, 4, 1, 2, 3, 4]

In [18]:
sum(l) # Summation of lists
max(l) # max element
len(l) # length a list

14

In [19]:
# function to find the second largest element
li=[1,3,5,7,2,9]
li.sort()
li[-2]

7

In [20]:
# function that return the nth element
def lar(li,n):
    li.sort()
    return li[-n]
lar(li,5)

2

In [22]:
# Function to search for a data in list
# search for the key in the list return the key,otherwise return -1 key not found
def linearsearch(li,key):
        
    for ele in li:
        if ele==key:
            return li.index(ele)
    return ("key not matched")
linearsearch([1,3,56,7,35,11,22,32,544,664,66,2,567,89,77],32)

7

In [23]:
# Function to count the occurances of a character
# "python programming", m-> 2
def occurance (li,char):
    count =0
    for i in li:
        if i==char:
            count = count+1
    return count
a=input("enter a string = ")
b=input('enter a character = ')
occurance(a,b)

enter a string = vinod kumar
enter a character = k

1

In [24]:
s = "1 2 3 4 5 6"
li = s.split()
numberlist=[]
for i in li:
    numberlist.append(int(i))
numberlist

# n = int(input())
# s = input()
# li = s.split()

[1, 2, 3, 4, 5, 6]

## Number Closest to zero

In [25]:
li = [-1,-3,-2,2,3,1]
li.sort()

pl =[]

for i in li:
    pl.append(abs(i))
pl.sort()
if -pl[0] in li:
    print(-pl[0])
else:
    print(pl[0])

-1

## Farhest from zero

In [26]:
li = [-1,-2,1,-10,9]
li.sort()
pl=[]
for i in li:
    pl.append(abs(i))
    
pl.sort()
if pl[-1] in li:
    print(pl[0])
else:
    print(-pl[0])

-1

- you are given three numbers, a,b,c
        - write the program to find largest number
        - which is less than or equal to c and leaves
        - remainder b when divided by a

## Print the value of expression

In [27]:
n = int(input())
def semsqaresnaturalnumbers(n):
    sum = 0
    for i in range (1,n+1):
        sum=sum+i**2
    return sum
semsqaresnaturalnumbers(n)

3

14