## Numpy Library

- Processing N-Dimenseonal arrays

In [15]:
import numpy as np
li=[1,2,3]
a=np.array(li)
type(a)

b=np.arange(15)
print(b.reshape(3,5))

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

In [10]:
rn=np.random.randint(0,100,size=10)
rn

array([20, 68, 31, 77,  9, 17, 41, 72, 66, 62])

In [12]:
m3=np.random.randint(0,2,size=(3,3))
m3

array([[0, 1, 0],
       [1, 0, 1],
       [0, 1, 0]])

In [26]:
a=np.arange(4).reshape(2,2)
b=np.arange(4).reshape(2,2)
print(a)
print(b)
a.dot(b)

[[0 1]
 [2 3]]
[[0 1]
 [2 3]]

array([[ 2,  3],
       [ 6, 11]])

In [1]:
import numpy as np
M = np.ones((3, 3))
print("Matrix M:\n",M)

Matrix M:
 [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

**Pandas**
    **Use Cases**

        - Data Cleaning
        - Data Transformation
        - Data Analysis
   **Notations**

    - Series
    - DataFrames

In [2]:
import pandas as pd


internal1 = {'s1':21, 's2':18, 's3':24}

internal1 = pd.Series(internal1)

internal2 = {'s1':15, 's2':18, 's3':12}
internal2 = pd.Series(internal2)
internal2

s1    15
s2    18
s3    12
dtype: int64

In [3]:
final = {'Internal1':internal1, 'Internal2':internal2}

final = pd.DataFrame(final)
final['Internal1']

s1    21
s2    18
s3    24
Name: Internal1, dtype: int64

In [4]:
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12

In [5]:
final.columns # Names of all columns

Index(['Internal1', 'Internal2'], dtype='object')

In [6]:
final.values # Lists of all rows

array([[21, 15],
       [18, 18],
       [24, 12]], dtype=int64)

In [7]:
final.values[2]

array([24, 12], dtype=int64)

In [8]:
final.values[2,0] = 25
final.values[2][0]

25

In [9]:
for row in final.values:
    print('Internal1 - ',row[0],', Internal2 - ',row[1])

Internal1 -  21 , Internal2 -  15
Internal1 -  18 , Internal2 -  18
Internal1 -  25 , Internal2 -  12

In [10]:
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         25         12

In [11]:

final.loc['s4'] = [20, 18]
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         25         12
s4         20         18

In [14]:
final.drop('s3')

    Internal1  Internal2
s1         21         15
s2         18         18
s4         20         18

In [15]:
final.values[2] = [12,25]
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         12         25
s4         20         18